strict-peer-dependencies=false
auto-install-peers=true

# node-linker determines how pnpm generates the node_modules structure:
# - hoisted: similar to yarn/npm, hoists dependencies to the top-level node_modules; better compatibility with legacy tools (recommended)
# - node-modules: creates a full node_modules in each package for stronger isolation, but with worse performance
node-linker=hoisted