# =============================
# 🌐 General (all projects)
# =============================

.DS_Store
LICENSE
README.md

# =============================
# 🔧 Git / IDE / build system
# =============================

**/.git
**/.gitignore
**/.idea
**/.vscode
**/.vs
**/.project
**/.settings
**/.toolstarget
**/*.user

# =============================
# 🟦 .NET specific
# =============================

**/bin/
**/obj/
**/*.dbmdl
**/*.jfm
**/*.csproj.user
**/*.vbproj.user
**/*.fsproj.user

# =============================
# 🐳 Docker / Kubernetes
# =============================

**/Dockerfile*
**/docker-compose*
**/azds.yaml
**/charts/