# =============================
# 🌐 General (all projects)
# =============================

.DS_Store
LICENSE
README.md
*.log
*.zip
*.swp

# =============================
# 🔧 Git / IDE / build system
# =============================

.git
.github
.gitignore
.vscode
.idea
.vs
.project
.settings
.toolstarget
*.user
*.tsbuildinfo

# =============================
# 🔐 Env files / secrets
# =============================

.env
.env.*
*.local
secrets.dev.yaml
values.dev.yaml

# =============================
# 🐳 Docker / Kubernetes
# =============================

Dockerfile
docker-compose*
azds.yaml
charts/

# =============================
# 📦 Dependencies / Build Artifacts
# =============================

node_modules
/opt/
.next
.cache
dist
coverage
tests