# =============================
# 🌐 General (all projects)
# =============================

.DS_Store
LICENSE
README.md
*.md
*.log
*.tsbuildinfo

# =============================
# 🔧 Git / IDE / Build system
# =============================

.git
.gitignore
.idea/
.vscode/
.vs/
.project
.settings
.toolstarget
*.user
*.suo

# =============================
# 🟦 .NET specific
# =============================

bin/
obj/
*.dbmdl
*.jfm
*.csproj.user
*.vbproj.user
*.fsproj.user

# =============================
# 🔐 Environment / Secrets
# =============================

.env*
docker-compose*
.dockerignore

# =============================
# 🐳 Docker / Kubernetes
# =============================

Dockerfile*
azds.yaml
charts/